# .vscode folder
.vscode/**
!.vscode/extensions.json
!.vscode/tasks.json

# IntelliJ IDEA/PyCharm folders
.idea/

# python cache files
__pycache__/
*.pyc

# python virtual environment for development
.venv/

# config file (contains sensitive information)
scripts/config.json
